#login {
    min-height: calc(100vh - 150px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9; /* Fundal mai deschis pentru contrast */
}

#login .container {
    width: 600px;
    padding: 0 16px;
    background-color: white; /* Fundal alb pentru container */
    border-radius: 8px; /* Colțuri rotunjite pentru container */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Umbră pentru container */
}

#login .container h1 {
    text-align: center;
    font-size: 36px; /* Mărime consistentă cu titlurile altor secțiuni */
    margin-bottom: 24px; /* Margine mai mare pentru separare */
}

.section-header {
    font-size: 36px;
    margin-bottom: 16px;
}

#form {
    margin-top: 30px;
}

#form label {
    margin-bottom: 8px;
    display: block;
    font-size: 16px;
    color: #222; /* Culoare mai închisă pentru textul etichetei */
}

#form input {
    height: 50px;
    width: 100%;
    padding: 0 15px;
    border: 1px solid rgba(17, 17, 17, 0.55);
    border-radius: 44px; /* Colțuri rotunjite */
    font-size: 16px;
    color: rgba(17, 17, 17, 1); /* Culoare consistentă */
    background: rgba(255, 255, 255, 1); /* Fundal alb */
    margin-bottom: 24px;
    transition: border 0.3s; /* Tranziție pentru schimbarea border-ului */
}

#form input:focus {
    outline: 0;
    border-color: #097a6e; /* Culoare de border pe focus */
    box-shadow: 0 0 5px 2px rgba(0, 122, 113, 0.15); /* Umbra la focus */
}

#form .submit {
    margin: 24px 0;
    text-align: center;
}

#form .submit button {
    font-size: 16px;
    font-weight: 500;
    background-color: #000;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 35px;
    border-radius: 44px; /* Colțuri rotunjite */
    margin: 20px 0 10px;
    border: none;
    transition: background-color 0.3s; /* Tranziție pentru culoarea de fundal */
}

#form .submit button:hover {
    background-color: #097a6e; /* Schimbare culoare la hover */
}

#form .submit #signup {
    font-size: 14px;
    margin-top: 4px;
    display: block;
    border: none;
    box-shadow: none;
    text-decoration: underline !important;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px !important;
}

.alert {
    display: none;
    color: red;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
    text-align: center; /* Aliniere pe mijloc pentru mesajele de alertă */
}

.text-message-center {
    text-align: center; /* Text aliniat pe mijloc */
}
