* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@keyframes heart {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.5);
        color: red;
    }

    50% {
        transform: scale(1);
        color: red;
    }
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
    text-decoration: none !important;
}

ul {
    list-style: none;
}

main {
    width: 100%;
    min-height: 100vh;
    /* margin-top: 150px; */
}

.product-name {
    cursor: pointer;
}

.product-name:hover {
    color: #097a6e;
}

/* -------------------- scroll button -------------------- */
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 50px;
    width: 50px;
    background-color: #097a6e;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    transition: all .4s;
}

#scrollBtn:hover {
    color: #097a6e;
    background-color: white;
    border: 2px solid #097a6e;
}

#scrollBtn #btn-up {
    padding-top: 4px;
    font-size: 20px;
}

/* -------------------- category button -------------------- */
#categoryBtn {
    display: block;
    position: fixed;
    bottom: 40px;
    left: 40px;
    height: 50px;
    width: 50px;
    background-color: #bdbcb8;
    color: white;
    border: none;
    border-radius: 8px; /* Colțuri rotunjite, dar pătrat */
    cursor: pointer;
    z-index: 999;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#categoryBtn:hover {
    color: #ffffff;
    background-color: #adaba6;
}

#category-icon {
    font-size: 34px; /* Ajustează dimensiunea iconiței */
}

#category-up {
    font-size: 0px;
}



/* --------------------------- header -------------------------------  */
header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 60;
}

.header_top {
    background-color: #efeeed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    height: 70px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow fin */
}

.header_top ion-icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.886);
    margin-right: 8px;
}

.header_top img {
    width: 100px;
}

nav {
    position: relative;
    background-color: #efeeed;
}

.scroll-down {
    position: fixed;
    top: initial;
    left: initial;
}

.scroll-up {
    position: fixed;
    top: 0;
    left: 0;
}

#display_login {
    display: none;
    align-items: center;
    justify-content: center;
}

.header_actions {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

#signout,
.header_actions #user_name {
    font-size: 12px;
    font-weight: 500;
    margin-right: 4px;
}

.header_actions #logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .header_actions a{
    display: inline-block;
    width: 24px;
    height: 24px;
} */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {

    padding: 4px;
    margin: 2px;
    position: relative;
}

nav ul li a {
    font-size: 18px;
    color: #000000;
}


/* Stilizare pentru butoanele din meniu */
.nav-buttons {
    list-style: none;
    display: flex;
    justify-content: center; /* Centrează elementele */
    align-items: center;
    gap: 15px; /* Spațiu între butoane */
    margin: 0;
    padding: 0;
}

.nav-buttons li {
    margin: 0;
}

.nav-buttons li a {
    display: inline-block;
    background-color: #bdbcb8; /* Culoare de fundal */
    color: #ffffff; /* Culoare text */
    font-size: 1rem; /* Dimensiune text adaptivă */
    font-weight: 500;
    text-decoration: none;
    padding: 8px 16px; /* Dimensiuni buton adaptate */
    border-radius: 5px; /* Colțuri rotunjite */
    transition: all 0.3s ease; /* Tranziție pentru hover */
    box-shadow: 0px 4px 6px rgba(162, 162, 162, 0.2); /* Umbră la hover */
}

.nav-buttons li a:hover {
    background-color: #a4a3a1; /* Culoare mai întunecată la hover */
 
    transform: scale(1.05); /* Mărire ușoară */
}

/* Media Queries pentru dispozitive mici */
@media (max-width: 768px) {
    .nav-buttons {
        gap: 10px; /* Spațiu mai mic între butoane */
    }

    .nav-buttons li a {
        font-size: 0.9rem; /* Dimensiune text mai mică */
        padding: 6px 12px; /* Dimensiuni mai mici pentru butoane */
    }
}

@media (max-width: 480px) {
    .nav-buttons li a {
        font-size: 0.8rem; /* Dimensiune text mai mică pentru telefoane mici */
        padding: 4px 8px; /* Dimensiuni și mai compacte */
    }
}


header nav li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #000000;
    left: calc(50% - 12px);
    bottom: -4px;
    transition: .4s ease-in-out;
}

header nav li:hover::after {
    width: 25px;
}

.icon-cart {
    position: relative;
}

.icon-cart #cart-counter {
    position: absolute;
    background-color: #c30202;
    color: #fff;
    width: 17px;
    height: 17px;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adăugare shadow */
    opacity: 1;
    transition: .3s ease-in-out;
    text-align: center;
    border-radius: 50%;
    top: -8px;
    right: 0px;
}

/* ------------------------ cart section ----------------- */
.cart-section {
    width: 400px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 9999;
    padding: 24px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

body.showCart .cart-section {
    right: 0;
}

/* ------------------------ cart overlay ----------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundal gri-transparent */
    z-index: 9998; /* Sub cart-section */
    display: none; /* Ascuns implicit */
    transition: opacity 0.5s ease;
}

body.showCart .cart-overlay {
    display: block;
    opacity: 1;
}


.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.cart-header h2 {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 37px;
}

.cart_products {
    flex-grow: 1;
    overflow-x: auto;
}

.cart_products.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_products {
    flex-grow: 1;
    overflow-x: auto;
    padding-right: 16px;
    scrollbar-color: #097a6e;
}

.cart_products::-webkit-scrollbar {
    width: 8px;
}

.cart_products::-webkit-scrollbar-track {
    background: #097a6f15;
}

.cart_products::-webkit-scrollbar-thumb {
    background-color: #097a6f93;
    border-radius: 5px;
}

.cart_products::-webkit-scrollbar-thumb:hover {
    background-color: #097a6e;
}

.cart_product {
    display: flex;
    margin-bottom: 25px;
    position: relative;
}

.cart_product::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #868686;
}

.cart_product .cart_product_img {
    width: 100px;
    margin-right: 24px;
}

.cart_product .cart_product_img img {
    width: 100%;
}

.cart_product_info {
    width: 80%;
}

.cart_product .top_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cart_product .top_card h4 {
    font-size: 13px;
    font-weight: 400;
}

.cart_product .top_card .product_price {
    font-size: 12px;
    color: #010101;
}

.remove_product {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid rgba(134 134 134 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 1px;
}

.cart_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.cart_total h3 {
    font-size: 16px;
    font-weight: 500;
}

.cart_total #total_price {
    font-size: 16px;
    font-weight: 600;
    color: red;
}

.buttom_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.buttom_card .counts {
    width: 100px;
    height: 30px;
    border: 2px solid rgb(134 134 134 / 50%);
    text-align: center;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    touch-action: manipulation;
}

.buttom_card .counts_btns {
    position: absolute;
    display: block;
    padding: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    color: rgb(134 134 134 / 50%);
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.buttom_card .minus {
    left: 0;
    text-align: left;
    padding-left: 15px;
}

.buttom_card .plus {
    right: 0;
    text-align: right;
    padding-right: 15px;
}

.buttom_card .product_count {
    width: 35px;
    border: 0px;
    height: 30px;
    background: 0px 0px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-left: 0 !important;
}

.buttom_card .product_count:focus {
    outline: none;
}

.closeCart {
    background-color: rgb(134 134 134 / 14%);
    width: 37px;
    height: 37px;
    line-height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.closeCart ion-icon {
    font-size: 18px;
    font-weight: 400;
}

.btn_control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.btn_control .checkout,
.btn_control .viewCart {
    text-transform: uppercase;
    font-size: 12px;
    transition: .25s ease-in-out !important;
    font-weight: 500;
    height: 48px;
    padding: 0 25px;
    min-width: 120px;
    width: calc(50% - 5px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn_control .viewCart {
    background-color: #fff;
    border: 1px solid #000000;
}

.btn_control .checkout:hover,
.btn_control .viewCart:hover {
    background-color: #0ec1ae;
    color: #fff;
    border: 1px solid #fff;
}

.btn_control .checkout {
    background-color: #000;
    color: #fff;
    border: none;
}

/* ------------------------ footer ----------------------- */
.footer {
    background-color: #fff;
    padding: 4% 8%;
}

.black-footer {
    background-color: #efeeed;
    color: #000000;
}

.footer .footer-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-top .footer-list {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.footer-list h4 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 8px;
}

.footer-list ul li {
    margin: 20px 0;
    color: #868686;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

.footer-company-name ion-icon {
    color: red;
    transition: all 0.4s;
    animation: heart 1s infinite;
    -webkit-animation: heart 1s infinite;
}

.footer-bottom #author {
    font-size: 18px;
    color: #097a6e;
    transition: 0.4s;
}

.footer-bottom #author:hover {
    color: #696969;
}

/* Large screens */
@media (min-width: 1200px) {
    .information {
        flex-wrap: nowrap;
    }

    /* for home page section top product */
    .products {
        grid-template-columns: repeat(4, 1fr);
    }

    /* for products page */
    .products .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    .slide .text h2 {
        font-size: 40px;
        font-weight: 400;
    }

    .information {
        flex-wrap: wrap;
    }

    .info {
        width: 50%;
        justify-content: flex-start;
    }

    /* for home page section top product */
    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    /* for products page */
    .products .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .productDetails .details .buttons {
        flex-wrap: wrap;
    }

    .productDetails .details #btn_add {
        width: 100%;
        margin-top: 20px;
    }

    .collection-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .news.hight {
        height: 300px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer .footer-top {
        flex-wrap: wrap;
    }
}

/* Small screens */
@media (max-width: 767px) {
    main {
        padding: 4%;
    }

    .header_top ion-icon {
        font-size: 20px;
    }

    .header_top img {
        width: 80px;
    }

    .slider {
        display: none;
    }

    .hero_for_phone {
        display: block;
        width: 100%;
        height: 350px;
         box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.1); /* Shadow fin */
    }

    .hero_for_phone .hero-content {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px;
        position: relative;
    }

    .hero_for_phone .hero-content img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        object-fit: cover;
        object-position: center center;
    }

    .hero_for_phone .text {
        position: absolute;
        left: 20px;
        top: 100px;
    }

    .hero_for_phone .text h2 {
        font-size: 24px;
        font-weight: 400;
    }

    .hero_for_phone p {
        width: 200px;
        font-size: 10px;
        font-weight: 300;
        color: #868686;
    }

    .hero_for_phone .shop-btn {
        margin-top: 20px;
        background-color: transparent;
        color: #000;
        border: 1px solid #000;
        padding: 10px;
        width: 120px;
    }

    .information {
        flex-direction: column;
    }

    .info {
        width: 100%;
        justify-content: flex-start;
    }

    .info .info-icon img {
        width: 60px;
    }

    .info .info-text h3 {
        font-size: 14px;
    }

    /* for home page section top product */
    .top_products .products {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    /* for products page */
    .products .content {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .productDetails {
        gap: 40px;
    }

    .collection-list {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .cart-section {
        width: 80%;
    }

    .btn_control {
        flex-direction: column;
    }

    .btn_control .viewCart {
        margin-bottom: 12px;
        color: #000;
    }

    .btn_control .checkout,
    .btn_control .viewCart {
        width: 100%;
    }

    .news.hight {
        height: 300px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .news .Subscribe-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .news .Subscribe-form input {
        width: 100%;
    }

    .footer .footer-top {
        flex-wrap: wrap;
    }

    .footer .footer-top .footer-list {
        flex-wrap: wrap;
        gap: 20px;
    }

    .productDetails .details .buttons {
        flex-wrap: wrap;
    }

    .productDetails .details #btn_add {
        width: 100%;
        margin-top: 20px;
    }

    .productDetails {
        grid-template-columns: 1fr;
    }

    .toast-overlay {
        top: -1000px;
    }

    .toast-overlay.show {
        top: 300px;
    }

    .cart_page .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .cart_products {
        padding-right: 0;
    }

    .collection-card {
        min-height: 450px;
    }
}

/* to remove updown from input number */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/* Header Social Media */
.header_social a {
    font-size: 2rem; /* Face icon-urile mai mari */
    margin: 0  3px; /* Creează spațiu între icon-uri */
    display: inline-block; /* Asigură alinierea corectă */
    text-decoration: none; /* Elimină sublinierea */
    color: inherit; /* Menține culoarea inițială */
    transition: transform 0.3s ease; /* Adaugă o animație la hover */
}

.header_social a:hover {
    transform: scale(1.2); /* Mărește icon-urile la hover */
}

.header_social {
    display: flex; /* Asigură alinierea pe orizontală */
    justify-content: center; /* Centrează icon-urile */
    align-items: center; /* Aliniază icon-urile pe verticală */
}

